.submit {
  text-align: right;
}

.addRoleButton {
  text-align: center;
  width: 20%;
  height: 43px;
  margin-right: 15px;
}

.addRoleText {
  width: 80%;
  float: left;
}

.addRoleForm {
  margin-bottom: 1%;
}
